$theme-colors: (
  'brand-blue-dark': #16629f,
  'brand-blue-light': #4d96d7,
  'brand-yellow': #ffb412,
);

$colors: (
  'aqua': #00ffff,
);

$pagination-color: var(--info);
$pagination-hover-color: var(--info);
$pagination-active-bg: var(--info);

@for $i from 1 to 20 {
  .hw-#{$i} {
    height: $i + rem !important;
    width: $i + rem !important;
  }
}

.pointer {
  cursor: pointer;
}

@import '~bootstrap/scss/bootstrap';
